.toggleDisplay {
  // margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin-left: 15%;
  margin-right:15%;
}

.coffee-intro {
  display: flex;
  flex-direction: column;
}

.coffee-intro h1 {
  margin: 0px 0px 16px 0px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  font-weight: 700;
  color: rgba(209, 57, 2, 0.918);
}

.coffee-intro p {
  margin: 0px 0px 16px 0px;
  font-family: 'Courier New', Courier, monospace;
  width: auto;
  padding: 12px;
}

// .October {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   align-content: space-between;
//   width: 80%;
//   vertical-align: top;
// }

.October {
  display: none;
}


// .November {
//   display: none;
// }

.November{
   display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
  width: 80%;
  vertical-align: top;
}


// .October p{
//   font-weight: 700;
//   font-family: Courier;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

.November p{
  font-weight: 700;
  font-family: Courier;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.jump{
  text-align: center;
  color:  rgba(230, 137, 16, 0.856);
  font-family: Courier;
  text-transform: uppercase;
  font-weight: bold;
}

.star ul{ 
  display: flex;
  box-sizing: inherit;
  // margin: auto;
  display: block;
}


.star li{
  display: flex;
  flex-direction: row;
  box-sizing: inherit;
  position: relative;
  margin: 20px;
  padding: 40px;
}

.star .schedule-tile{
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 23%;
  justify-content: space-between;
  // box-sizing: inherit; // last
}

.star h2{
  font-weight: 700;
  font-family: Courier;
  color: rgba(209, 57, 2, 0.918);
  font-size: 28px;
  padding: 80px 60px;
  border: 2px solid  rgba(209, 57, 2, 0.918);
  width: 23%;
  align-content: center;
}


// Meeting Styling

.meeting {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  width: 100%;
}

.tile-top{
  display: flex;
  flex-direction: row-reverse;
  // border: 1px solid gray;
  width: 100%;
}

.host-container {
  display: flex;
  flex-direction: column;
  // border: 1px solid gray; 
  width: 50%;
  height: 100%;
  font-family: Courier;
  color: rgba(209, 57, 2, 0.918);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

.date-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.day {
  height: fit-content;
  font-size: 16px;
  color: gray;
  font-family: Courier;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.meet-date {
  height: fit-content;
  font-size: 24px;
  color: black;
  font-family: Courier;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.timespan {
  height: fit-content;
  font-size: 16px;
  color: black;
  font-family: Courier;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.place {
  font-size: 16px;
  color: gray;
  font-family: Courier; 
  text-align: center;
}

.availability {
  margin: 10px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: gray;
  font-family: Courier;
  text-transform: uppercase;
  text-align: center;
  align-content: center;
  overflow: hidden;
}

.seats{
  font-size: 20px;
  color: gray;
  font-family: Courier;
  text-transform: uppercase;
  text-align: center;  
}


.seat-meter{
  align-content: center;
  
}

.seat-meter ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  overflow: hidden;
}

.meter {
  color: transparent;
  display: flex;
  flex-grow: inherit;
  border-radius: 2px;
  // border-right: 2px solid white;
  background-color:gray;
  height: 12px;
  width: 15%;
  align-content: right;
}

.notch {
  color: transparent;
  display: flex;
  flex-grow: inherit;
  border-radius: 2px;
  // border-right: 2px solid white;
  background-color: rgba(230, 137, 16, 0.856);
  height: 12px;
  width: 15%;
  align-content: right;
}
