.toggleDisplay {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.October {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
  width: 50%;
  vertical-align: top;
}

.October p{
  font-weight: 700;
  font-family: Courier;
  
}

.star ul{ 
  display: flex;
  box-sizing: inherit;
  margin: auto;
  display: block;
}

.star h2{
  font-weight: 700;
  font-family: Courier;
  color: rgba(209, 57, 2, 0.918);
  font-size: 28px;
  padding: 80px;
  border: 1px solid  rgba(209, 57, 2, 0.918);
}

.star li{
  display: flex;
  flex-direction: row;
  box-sizing: inherit;
  position: relative;
  margin: 20px;
  padding: 40px;
}

.star li h2{
  box-sizing: inherit;
}


.November {
  display: none;
}

// Meeting Styling

.meeting {
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid gray; 
      
  // flex-direction: unset;
}

.host-container {
  font-family: Courier;
  color: rgba(209, 57, 2, 0.918);
  font-weight: 700;
  font-size: 16px;
}

.day {
  font-size: 16px;
  color: gray;
  font-family: Courier;
  font-weight: bold;
  text-transform: uppercase;
}