
.coffee-show{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1020px;
  margin: auto;
}

.sidebar{
  display: flex;
  flex-direction: column;
  width: 32%;
}

.host-profile{
  display: flex;
  flex-direction: column;
  width: 64%;
}