// Place all the styles related to the api/session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.session {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: auto;
}

input{
  margin: 20px;
  padding: 1em;
  height: 30px;
  width: 100%;
  max-width: 500px;
  color: black;
  font-size: 20px;
  font-family: sans-serif;
}

.sess-submit-button {
  color: white;
  font-size: 20px;
  font-weight: 600;
  font-family: Helvetica;
  background-color: orangered;
  height: fit-content;
  max-width: 500px;
  border: 2px orangered;
  border-radius: 10px;

}