.dashboard{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: beige;
}

.dash-clipboard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}


//DASH-NAV STYLING

.dash-nav{
  display: flex;
  flex-direction: row;
  background-color: rgba(228, 172, 98, 0.856);
  padding: 1em;
}

.nav-block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
  margin-left: 9.6%;
}

.nav-block a{
  text-decoration: none;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 2px;
}

//INTRO STYLING

.dash-intro h1{
  height: fit-content;
  font-size: 24px;
  color:  rgba(209, 57, 2, 0.918);
  font-family: Courier;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}

.dash-intro{
  height: fit-content;
  font-size: 20px;
  color: black;
  font-family: Courier;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}

.user-schedule{
  margin-top: 1em;
  display: block;
  color: white;
  font-size: 20px;
  font-weight: 600;
  font-family: Helvetica;
  background-color: rgba(209, 57, 2, 0.918);
  // height: fit-content;
  // width: 80%;
  // max-width: 500px;
  border: 2px orangered;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: .5em;

}



//EVENT STYLING

.dash-body h1{
  height: fit-content;
  font-size: 24px;
  color:  rgba(209, 57, 2, 0.918);
  font-family: Courier;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  margin-left: 5%;
  margin-bottom: .6em;
}

.blank-coffee{
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  background-color: beige;
  // height: fit-content;
  justify-content: space-between;
  width: 40%;
  padding: 1em;
  border: 3px dashed black;
  text-decoration: none;
  text-transform: none;
}

.blank-coffee h1{
  text-align: center;
  margin: 0px;
  color: black;
  font-size: 100px;
  text-decoration: none;
  height: fit-content;
}

.blank-coffee h3{
  padding: 1em;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: bold;
  height: fit-content;
  font-family: 'Courier New', Courier, monospace;
}


.event-element{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
}

.event-card{
  display: flex;
  flex-direction: column;
  background-color: white;
  height: fit-content;
  width: 40%;
  padding: 1em;
  border: 1px solid gray;

}

.event-card h4{
  color: gray;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;

}

.event-card h2{
   color: black;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

.host-card{
    margin: auto;
  border: 2px solid gray;
  width: 40%;
  // height: 60%;
  background-color: white;
  padding-left: .5em;
  padding-top: .5em;
  padding-right: .5em;
  padding-bottom: 1.5em;
}

.host-card img{
    image-rendering: auto;
  margin: auto;
  border: 1px solid gray;
}