// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#root{
  background-color: beige;
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  min-width: 300px;
  min-height: 100vh;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.primary {
  display: flex;
  // flex-wrap: wrap;
  background-color: rgba(185, 127, 51, 0.856);
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 20px;
  padding-right: 20px;
  color: beige;
  font-family: 'Courier New', Courier, monospace;
  font-size: 26px;
  font-weight: 700;
  overflow: visible;
}

button:hover{
  cursor: pointer;
}

a:hover{
  cursor: pointer;
}


.Home-link{
  text-decoration: none;
  color: beige;
  font-family: 'Courier New', Courier, monospace;
  font-size: 26px;
  font-weight: 700;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  // align-content: flex-end;
  justify-content: space-between;
  width: 100%;
}

.greeting {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // position: absolute;
  top: 28px;
  right: 35px;
  align-content: space-evenly;
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  font-weight: 700;
  color: beige;
  // letter-spacing: 2px;
}

.greeting-user {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // position: absolute;
  top: 28px;
  right: 35px;
  align-content: space-evenly;
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  font-weight: 700;
  color: beige;
  // letter-spacing: 2px;
}

// .greeting-user li{
//   margin-left: 15px;
// }

// .greeting-user button{
//   margin-left: 5px;
// }


.signup-link-norm {
  right: 35px;
  color: rgba(185, 127, 51, 0.856);
  padding: 0.2em 4px;
  border: 2px solid beige;
  border-radius: 3px;
  background-color: beige;
  // margin-left: 18px;
  text-decoration: none;
  font-size: 14px;
}

.signup-link-hover{
  right: 35px;
  color: beige;
  padding: 0.2em 4px;
  border: 2px solid beige; 
  border-radius: 3px;
  background-color:rgba(185, 127, 51, 0);
  // margin-left: 18px;
  text-decoration: none;
  font-size: 14px;
}

.signin-link {
  color:beige;
  border: 2px;
  border-radius: 3px;
  padding: 0.2em;
  text-decoration: none;
  margin: 2px 5px;
  font-size: 14px;
  margin-right: 15px;
}

.demo-link {
  color:beige;
  border: 2px;
  border-radius: 3px;
  padding: 0.2em;
  text-decoration: none;
  margin: 2px 5px;
  font-size: 14px;
  margin-right: 15px;
}

.welcome {
//  position: relative;
 left: 275px;
}

.signout-link-norm {
  right: 35px;
  color: rgba(185, 127, 51, 0.856);
  padding: 0.2em 4px;
  border: 2px solid beige;
  border-radius: 3px;
  background-color: beige;
  // margin-left: 18px;
  text-decoration: none;
  font-size: 14px;
  font-family: inherit;
  font-weight: 700;
  margin: 0px 2px 2px 2px;
}

.signout-link-hover {
  cursor: pointer;
  right: 35px;
  color: beige;
  padding: 0.2em 4px;
  border: 2px solid beige;
  border-radius: 3px;
  background-color:rgba(185, 127, 51, 0);
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  // letter-spacing: 2px;
  text-decoration: none;
  margin: 0px 2px 2px 2px;
}

// .signout-link-norm {
//   right: 35px;
//   top: -1px;
//   color: beige;
//   padding: 0 4px 0.2em 4px;
//   border: 0px rgba(185, 127, 51, 0); 
//   // border-radius: 3px;
//   background-color:rgba(185, 127, 51, 0);
//   font-family: inherit;
//   font-size: 14px;
//   font-weight: 700;
//   // letter-spacing: 2px;
//   text-decoration: none;
//   margin: 0px 2px 2px 2px;
// }



.coffee-schedule-link {
  // right: 35px;
  color: beige;
  padding: 0.2em 4px;
  border: 2px rgba(185, 127, 51, 0); 
  border-radius: 3px;
  background-color:rgba(185, 127, 51, 0);
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  // letter-spacing: 2px;
  text-decoration: none;
  margin: 2px 5px;
  margin-right: 15px;
}

.user-dash-link{
  color: beige;
  padding: 0.2em 4px;
  border: 2px rgba(185, 127, 51, 0); 
  border-radius: 3px;
  background-color:rgba(185, 127, 51, 0);
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  // letter-spacing: 2px;
  text-decoration: none;
  margin: 2px 5px;
  margin-right: 15px;
}

.footer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgba(185, 127, 51, 0.856);
  width: auto;
  padding: 10px;
}

.icons{
  font-family: 'Courier New', Courier, monospace;
  text-emphasis: none;
  text-decoration: none;
  text-transform: none;
  color: beige;
  font-size: 20px;
}

.icons img{
  color: beige;
  width: 40px;
  height: 40px;
  padding-top: 10px;
}

// [class*=" devicon-"], [class^=devicon-] {
// 	font-size: 40px;
// }