// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#root{
  background-color: beige;
  // display: flex;
  // flex-direction: row;
  min-width: 300px;
  min-height: 500px;
}

.App {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.primary {
  display: flex;
  // flex-wrap: wrap;
  background-color: rgba(185, 127, 51, 0.856);
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 70px;
  color: beige;
  font-family: 'Courier New', Courier, monospace;
  font-size: 26px;
  font-weight: 700;

}

.Home-link{
  text-decoration: none;
  color: beige;
  font-family: 'Courier New', Courier, monospace;
  font-size: 26px;
  font-weight: 700;
}

.greeting {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 28px;
  right: 35px;
  align-content: space-between;
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace;
  font-size: 19px;
  font-weight: 700;
  color: beige;
  letter-spacing: 2px;
}

.signup-link-norm {
  right: 35px;
  color: rgba(185, 127, 51, 0.856);
  padding: 0.2em 4px;
  border: 2px solid beige;
  border-radius: 3px;
  background-color: beige;
  margin-left: 18px;
  text-decoration: none;
}

.signup-link-hover{
  right: 35px;
  color: beige;
  padding: 0.2em 4px;
  border: 2px solid beige; 
  border-radius: 3px;
  background-color:rgba(185, 127, 51, 0);
  margin-left: 18px;
  text-decoration: none;
}

.signin-link {
  color:beige;
  border: 2px;
  border-radius: 3px;
  padding: 0.2em;
  text-decoration: none;
  margin: 2px;
}

.demo-link {
  color:beige;
  border: 2px;
  border-radius: 3px;
  padding: 0.2em;
  text-decoration: none;
  margin: 2px 5px;
}

.greeting-user{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 18px;
  right: 35px;
  align-content: space-between;
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace;
  font-size: 19px;
  font-weight: 700;
  color: beige;
  letter-spacing: 2px;
}

.welcome {
  position: relative;
  right: 20px;
}

.Logout {
  right: 35px;
  color: beige;
  padding: 0.2em 4px;
  border: 2px rgba(185, 127, 51, 0); 
  border-radius: 3px;
  background-color:rgba(185, 127, 51, 0);
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  margin: 2px;
}