<div class="footer">
    <a class="icons" href="https://github.com/G07Watch">
      <span class="label">Github</span>
    </a>

    <a class="icons" href="https://www.linkedin.com/in/garvin-ming/">
      <span class="label">LinkedIn</span>
    </a>
</div>