<div class="footer">
    <a class="icons" href="https://github.com/G07Watch">
      <i class="devicon-github-plain"></i>
      <span class="label">Github</span>
    </a>

    <a class="icons" href="https://www.linkedin.com/in/garvin-ming/">
      <img src="app/assets/images/linkedin-3-32.ico">
      <span class="label">LinkedIn</span>
    </a>
</div>